@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Germania+One&display=swap');

*{
    font-family: 'Philosopher', Georgia, 'Times New Roman', Times, serif;
}

h1{
    font-family: 'Germania One', Georgia, 'Times New Roman', Times, serif;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #9c900a;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #855f00;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #8f560c;
  }